root = true

ktlint_standard_final-newline = disabled # Disables the `final-newline` rule provided by KtLint
ktlint_standard_trailing-comma-on-declaration-site = disabled
ktlint_standard_function-literal = disabled
ktlint_standard_function-literal = disabled